@charset "utf-8";
/* CSS Document */

h2 { font-size:2em;}

div {
    background-color:red;
    width:200px;
    height:200px;
    border-radius:100px;
    /* if width of this ever changes, make the change happen over a .5 second duration, after a 0 second delay, with easing */
    transition: width .5s 0s ease-out;
}
div:hover {
    width:400px;
}