@charset "utf-8";
/* CSS Document */


div {
    background-color:red;
    width:20px;
    height:20px;
    border-radius:10px;
    /* let them overlap each other */
    position:absolute;
    /* if width of this ever changes, make the change happen over a .5 second duration, after a 0 second delay, with easing 
    transition: width .5s 0s ease-out; */
}
